@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url(Montserrat-VariableFont_wght.ttf);
}
body{
    margin: 0;
    font-family: Montserrat-VariableFont_wght;
    background-image: url("../Image.jpg");
    height: 733px;
}
p{
    padding-left: 10px;
    font-size: 24px;
}
header{
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
}
header > a{    
    padding: 0 10px;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
header > a:hover{
    cursor: pointer;
    color: #A9A9A9;
}
section{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.Text{
    padding: 10px;
    background-color: #FFFFFF;
    width: 100%;
    margin: 1%;
    border: 5px solid #000000;
    border-radius: 5px;
}
.Text > p > a{
    text-decoration: none;
    color: #A9A9A9;
}
.Text > p > a:hover{
    cursor: pointer;
    color: #696969;
}
footer{
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}